.card {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  width: 21rem;
  max-width: 100%;
  height: 18.75rem;
  background: var(--purple);
  border-radius: 0.5rem;
  transition: 0.5s;
  box-shadow: 10px 15px;
  border: none;
}

.card:hover {
  height: 18.75rem;
}

.card .image-container {
  position: absolute;
  top: 1.25rem;
  width: 18.75rem;
  height: 13.75rem;
  border-radius: 0.5rem;
  overflow: hidden;
  transition: 0.5s;
}

.card:hover .image-container {
  top: -5rem;
  scale: 0.75;
  box-shadow: 0 15px 45px rgba(0, 0, 0, 0.5);
}

.car .image-container img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  background-position: center;
}

.card_content {
  position: absolute;
  top: 15.75rem;
  width: 100%;
  height: 2.1rem;
  padding: 0 1.8rem;
  text-align: center;
  overflow: hidden;
  transition: 0.5s;
}

.card:hover .card_content {
  top: 8rem;
  height: 15rem;
}

.card .card_content h2,
.card:hover .card_content h2 {
  font-size: 1.5rem;
  font-weight: 700;
  color: #fff;
}

.card .card_content .btn {
  position: relative;
  top: 1rem;
  display: inline-block;
}
