.read,
.pdf {
  background-color: none;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  flex-wrap: wrap;
  gap: var(--size-05) var(--size-03);

  padding-block: 6.25rem;
}

h2 {
  margin-bottom: var(--size-01);
  font-size: var(--size-02);
}

object {
  border-radius: 0.5rem;
}

@media screen and (max-width: 880px) {
  h2 {
    font-size: 1.5rem;
  }
  object {
    margin-inline: auto;
    max-width: min(100vw - 2rem);
  }
}
